body{
  background-color:#28B7DE;
}

h1,p{
  text-align:center;
  color:#0A0A0A;
}

.container{
  display:flex;
  background-color:#115466;
  width:1440px;
  margin:20px auto;
  content:center;
}

.container div{
  background-color:#7D7777;
  margin: 15px;
  padding:20px;
  font-size:24px;
  content:center;
  align-items:center;


}

#main-footer {
  background:#6592f1;
  color:white;
  text-align:center;
  padding: 10px;
  margin-top:2rem;
}

footer a {
    color: #0d0086; 
    text-decoration: none; /*  quita el subrayado si no te gusta */
    font-weight: bold; 
}

#autor{
  margin: 0.2rem;
  color:rgb(0, 38, 207);
  text-decoration: none;
}


.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  color: #1c0097;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;
}